@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');/*--------Base line--------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

html {
  font-family: 'PT Sans', sans-serif;
}

.heroParallax {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100%;
}

.marginParallax {
  background-color: #fff;
  margin-top: 100vh;
}