.cards {
  padding: 1rem;
}

.cards > h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.items {
  width: 100%;
  margin-bottom: 24px;
}

.card {
  display: flex;
  flex: 1;
  margin: 1rem 0.5rem;
  border-radius: 10px;
}

.card__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.card__imgWrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.card__imgWrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.card__img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
}

.card__img:hover {
  transform: scale(1.1);
}

.card__info {
  padding: 1.2em;
}

.card__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1024px) {
  .items {
    display: flex;
  }
}
