.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  pointer-events: all;
  cursor: pointer;
  margin-top: 95px;
  background-color: #fff;
  font-size: 1.3em;
  font-weight: 500;
  padding: 0.9em;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button:hover {
  background-color: whitesmoke;
}

.cornerNav {
  cursor: pointer;
  pointer-events: all !important;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  pointer-events: all;
  font-size: 12px;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.8);
}

.placeHolder {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.placeHolder p{
  text-align: center;
}

